# SPDX-License-Identifier: GPL-2.0-only
#
# Input device configuration
#

config INPUT_POWER_KEYDEBUG
	tristate "Long Press Power Key Debugging"
	depends on INPUT
	help
	  Say Y here if you want to hook debug function to dump information
	  to debug device hang when power keys are long pressed.
