#
# SPDX-License-Identifier: GPL-2.0-only
#

config GS_DOMAIN_IDLE_KUNIT_TEST
	tristate "KUnit test for gs_domain_idle" if !KUNIT_ALL_TESTS
	depends on GS_DOMAIN_IDLE && KUNIT
	default KUNIT_ALL_TESTS
	help
	  This builds unit tests for the gs_domain_idle driver.

	  For more information on KUnit and unit tests in general,
	  please refer to the KUnit documentation in Documentation/dev-tools/kunit/.

	  If unsure, say N.
